fabric
django
django-debug-toolbar
psycopg2
python-memcached
south
django-taggit
mercurial
-e hg+https://bitbucket.org/fabian/django-taggit-autosuggest#egg=django-taggit-autosuggest
django-ratings
grappelli