{% extends "base.html" %}

{% block title %}Not Found{% endblock %}

{% block main_content %}
    <link rel="stylesheet" href="http://media.reporterslab.org/review_lab/site_media/static/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="http://media.reporterslab.org/review_lab/site_media/static/css/main.css" type="text/css" charset="utf-8" />
    <img src="http://media.reporterslab.org/images/graphics/404.png" alt="404 Page Not Found (image courtesy of TheOatmeal.com)" />
    
{% endblock %}