{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block main_content %}
        <link rel="stylesheet" href="http://media.reporterslab.org/review_lab/site_media/static/css/reset.css" type="text/css" />
        <link rel="stylesheet" href="http://media.reporterslab.org/review_lab/site_media/static/css/main.css" type="text/css" charset="utf-8" />
        <img src="http://media.reporterslab.org/images/graphics/500.png" alt="500 Server Error (image courtesy of TheOatmeal.com" />
    
{% endblock %}