<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reporters' Lab Reviews // {% block title %} Latest News{% endblock %}</title>
        <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="{{ STATIC_URL }}js/jquery-stars/jquery.rating.css" type="text/css" />
        <link rel="alternate" type="application/rss+xml" title="Latest Reviews" href="/rss/reviews/" />
        <link rel="alternate" type="application/rss+xml" title="Latest Products" href="/rss/products/" />  
        <script src="{{ STATIC_URL }}js/utils.js" type="text/javascript"></script>
        <meta property="og:url" content="http://reviews.reporterslab.org{{ request.get_full_path }}" />
        <meta property="og:image" content="http://media.reporterslab.org/images/icons/logo.jpg" />
        <meta property="og:site_name" content="Reporters&#039; Lab" />
        <meta property="fb:admins" content="102037129914092" />
        {% block meta %}
            <meta property="og:title" content="Reporters&#039; Lab Reviews" />
            <meta property="og:description" content="Reviews from the Reporters&#039; Lab." />
            <meta property="og:type" content="website" />
        {% endblock %}
        {% block head %}{% endblock %}
    </head>
    
    <body>
        {% comment %} Facebook stuff. {% endcomment %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=36309052720";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        
        
        <div id="wrapper">
            
            
            <div id="header">
                <div class="main_content">
                    <div id="header_right_bg"></div>
                </div>
                <div id="header_bg"></div>
                <div class="main_content" style="z-index:3">
                    <a href="/"><img id="logo" src="{{ STATIC_URL }}img/mast.png" /></a>
                    <a href="/"><img id="review_logo" src="{{ STATIC_URL }}img/reviews_logo.png" /></a>
                    <div id="main_subnav">
                        <ul>
                            <li><a href="http://www.reporterslab.org/about">About</a></li>
                            <li><a href="http://www.reporterslab.org/contact">Contact</a></li>
                        </ul>
                    </div>
                    <div id="tools_nav">
                        <h5>Our Tools:</h5>
                        <ul>
                            <li><a href="http://www.reporterslab.org/timeflow">Timeflow</a></li>
                            <li><a href="">Coming Soon</a></li>
                        </ul>
                    </div>
                    {% include 'renderers/search_box.django.html' %}
                </div>
            </div>
            
            <div id="global_nav">
                <div class="main_content">
                    <ul>
                        <li><a href="http://www.reporterslab.org">News</a></li>
                        <li class="selected"><a href="/">Reviews</a></li>
                        <li><a href="http://www.reporterslab.org/developers">Challenges For Developers</a></li>
                        <li><a href="http://www.reporterslab.org/researchers">Topics For Researchers</a></li>
                    </ul>
                    <a href="http://www.duke.edu" id="duke_tag">A Duke University Project</a>
                </div>
            </div>
            <div class="black_bar"><span>&nbsp;</span></div>
            
            
            <div id="pre_main" class="main_content">
                {% block pre_main %} {% endblock %}
            </div>
            
            
            <div id="main" class="main_content">
                <div id="left_rail">
                    {% block main_content %}{% endblock %}
                </div>
                <div id="right_rail" >
                    {% block right_rail_top %}{% endblock %}
                    {% include "renderers/right_rail.django.html" %}
                    {% block right_rail_bottom %}{% endblock %}
                </div>
            </div>
            
            <div class="main_content" style="clear:both;">
                <div id="footer">
                    <div id="footer_social">
                        <ul>
                            <li><a href="http://www.facebook.com/reporterslab"><img src="{{ STATIC_URL }}img/footer_facebook.png" /></a></li>
                            <li><a href="http://www.twitter.com/reporterslab"><img src="{{ STATIC_URL }}img/footer_twitter.png" /></a></li>
                            <li><a href="http://www.reporterslab.org/rss"><img src="{{ STATIC_URL }}img/footer_rss.png" /></a></li>
                            <li><a href="https://plus.google.com/116345623067631086540/posts"><img src="{{ STATIC_URL }}img/footer_google_plus.png" /></a></li>
                            <li><a href="http://www.github.com/reporterslab"><img src="{{ STATIC_URL }}img/footer_github.png" /></a></li>
                            <li><a href="http://groups.google.com/group/reporters-lab"><img src="{{ STATIC_URL }}img/footer_forum.png" /></a></li>
                        </ul>
                    </div>
                    
                    <div id="footer_text">
                        <h3>REPORTERS' LAB</h3>
                        <p>
                            A project of Duke University's Dewitt Wallace Center for Media and Democracy<br />
                            Box 90241 <span class="slashes">//</span> SB 140 <span class="slashes">//</span>201 Science Drive <span class="slashes">//</span>Durham, NC 27708<br />
                            <a href="mailto:info@reporterslab.org">info@reporterslab.org</a>
                        </p>
                        <h3 style="margin-top:25px;">Questions? Comments?</h3>
                        <p>Email Tyler Dukes at <a href="mailto:tyler@reporterslab.org">tyler@reporterslab.org</a> or call 919-613-7346</p>
    
                        <h4>
                            &copy; 2012 Reporters' Lab. All Rights Reserved.
                            <span class="slashes">//</span>
                            Web design by <a href="http://www.rowdesignstudios.com">Row Design Studios</a>
                        </h4>
                    </div>
                    
                    <fieldset id="footer_more">
                        <legend align="center">More Information</legend> <!-- align deprecated, but no other solution? -->
                        <p>
                            <a href="http://www.reporterslab.org/mission">Our Mission</a><br />
                            <a href="http://reviews.reporterslab.org">Reviews</a><span class="slashes">//</span>
                            <a href="http://www.github.com/reporterslab">Source Code</a><br />
                            <a href="http://www.reporterslab.org/developers">Developers Challenges</a><span class="slashes">//</span>
                            <a href="http://www.reporterslab.org/researchers">Research Topics</a>
                        </p>
                    </fieldset>
                    <a href="http://www.duke.edu" id="duke_logo">
                        <img src="{{ STATIC_URL }}img/duke_horizontal_remix.png" id="duke_logo" alt="Duke University" />
                    </a>
                </div>
            </div>
<!--
More information
Our mission
Reviews // Source Code // Developers Challenges // Research Topics
-->
            
        </div>
        <script src="{{ STATIC_URL }}js/jquery-stars/jquery.rating.pack.js"></script>
        {% block end_body %}{% endblock %}
        
    </body>
    
</html>