<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Reporter's Test Kitchen:{% block title %} The Latest{% endblock %}</title>
        <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="{{ STATIC_URL }}js/jquery-stars/jquery.rating.css" type="text/css" />
        {% block head %}{% endblock %}
    </head>
    
    <body>
        <div id="wrapper">
            
            
            <div id="header">
                <div class="main_content">
                    <div id="header_right_bg"></div>
                </div>
                <div id="header_bg"></div>
                <div class="main_content" style="z-index:3">
                    <img id="logo" src="{{ STATIC_URL }}img/mast.png" />
                    <div id="main_subnav">
                        <ul>
                            <li><a href="http://www.reporterslab.org/about">About</a></li>
                            <li><a href="http://www.reporterslab.org/contact">Contact</a></li>
                        </ul>
                    </div>
                    <div id="tools_nav">
                        <h5>Our Tools:</h5>
                        <ul>
                            <li><a href="http://www.reporterslab.org/timeflow">Timeflow</a></li>
                            <li><a href="http://www.reporterslab.org/timeflow">Reviews</a></li>
                            <li><a href="http://www.reporterslab.org/timeflow">TV</a></li>
                        </ul>
                    </div>
                    {% include 'renderers/search_box.django.html' %}
                </div>
            </div>
            
            <div id="global_nav">
                <div class="main_content">
                    <ul>
                        <li><a href="http://www.reporterslab.org">News</a></li>
                        <li class="selected"><a href="">Reviews</a></li>
                        <li><a href="http://www.reporterslab.org/developers">Challenges For Developers</a></li>
                        <li><a href="http://www.reporterslab.org/researchers">Topics For Researchers</a></li>
                    </ul>
                    <a href="http://www.duke.edu" id="duke_tag">A Duke University Project</a>
                </div>
            </div>
            <div id="black_bar"><span>&nbsp;</span></div>
            
            
            <div id="pre_main" class="main_content">
                {% block pre_main %} {% endblock %}
            </div>
            
            
            <div id="main" class="main_content">
                <div id="left_rail">
                    {% block main_content %}{% endblock %}
                </div>
                <div id="right_rail" >
                    {% block right_rail_top %}{% endblock %}
                    {% include "renderers/right_rail.django.html" %}
                    {% block right_rail_bottom %}{% endblock %}
                </div>
            </div>
            
            
            <div id="footer" class="main_content">    
            </div>
            
            
            
        </div>
        <script src="{{ STATIC_URL }}js/jquery-stars/jquery.rating.pack.js"></script>
        {% block end_body %}{% endblock %}
        
    </body>
    
</html>