{% extends "base.html" %}

{% block title %}
    Challenge: {{ challenge.name }}
{% endblock %}

{% block main_content %}
    
    
        <div id="detail_container" class="challenge">
            <div id="detail_header">
                <h6>
                    {% if challenge.kicker %} {{ challenge.kicker }} {% endif %}
                    {% if challenge.kicker and challenge.award %} | {% endif %}
                    {% if challenge.award %} {{ challenge.award }} {% endif %}
                </h6>
                <h1>
                   {{ challenge.name }}
                </h1>
                <h4>{{ challenge.subtitle }}</h4>
                <div class="byline_timestamp_container">
                    {% if challenge.contact %}
                        <span class="byline">Contact: <a href="mailto:{{ challenge.contact.email }}">{{ challenge.contact.first_name }} {{ challenge.contact.last_name }}</a> | </span>
                    {% endif %}
                    {% if challenge.other_contact %}
                        <span class="byline">Contact: {{ challenge.other_contact|safe }} | </span>
                    {% endif %}
                    <span class="timestamp">{{ challenge.update_time|date:"DATETIME_FORMAT" }}</span>
                </div>
                <div id="challenge_details">
                    {% if challenge.files %}<span><a href="{{ MEDIA_URL }}{{ challenge.files }}">Download the Files Here &raquo;</a></span>{% endif %}
                </div>
            </div>
            
            <div id="details">
                <div id="challenge_docs_and_tasks" class="grid_3 sidebar omega">
                    {% if challenge.files %}<h6><a href="{{ challenge.files }}">&raquo; Download the files</a></h6><p></p>{% endif %}
                
                    {% if challenge.documents %}
                    <div id="challenge_documents">
                        <h5>Documents</h5>
                        <ul>
                            {% for doc in challenge.documents.all %}
                                <li><a href="{{ doc.get_absolute_url }}">{{ doc.name }}</a></li>    
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                
                    {% if challenge.tasks %}
                    <div id="challenge_tasks">
                        <h5>Tasks</h5>
                        <ul>
                            {% for task in challenge.tasks.all %}
                                <li><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></li>    
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                
                {{ challenge.description|safe }}
            </div>
            
            {% comment %}
                    {% if challenge.documents %}
                    <div id="challenge_documents">
                        <h5>Documents</h5>
                        <ul>
                            {% for doc in challenge.documents.all %}
                                <li><a href="{{ doc.get_absolute_url }}">{{ doc.name }}</a></li>    
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                
                    {% if challenge.tasks %}
                    <div id="challenge_tasks">
                        <h5>Tasks</h5>
                        <ul>
                            {% for task in challenge.tasks.all %}
                                <li><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></li>    
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
            {% endcomment %}
            
        </div>

{% endblock %}