{% extends "base.html" %}

{% block title %}
    Document Set // {{ document.name }}
{% endblock %}

{% block meta %}
    <meta property="og:title" content="Reporters&#039; Lab Reviews // Document Set // {{ document.name|escape }}" />
    <meta property="og:type" content="article" />
{% endblock %}

{% block main_content %}
    
    
        <div id="detail_container" class="document">
            <div id="detail_header">
                <h6>{{ document.kind }} | <a href="{{ document.url }}">Download the Documents &raquo;</a></h6>
                <h1>{{ document.name }}</h1>
                <div id="body_content">
                    {{ document.description|safe }}
                </div>
            </div>            
            
            {% include "renderers/tag_cloud.django.html" with object=document %}
            
            <div class="black_bar big"><span>&nbsp;</span></div>
            
            {% if document.task_set.all %}
                <div id="document_tasks" class="detail_item_container">
                    <h3>Tasks for this Document Set</h3>
                    {% for task in document.task_set.all %}
                        <div class="task_item detail_item {% if forloop.last %}last{% endif %}">
                            <h2><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></h2>
                            <div class="details">{{ task.description|safe }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
            
            
        </div>

{% endblock %}