{% extends "base.html" %}


{% load pagination_tags %}



{% block main_content %}
    {% autopaginate review_list 10 %}
    
    
    <div id="main_search" class="box_shadow">
        <h1>Find a tool</h1>
        <form method="get" name="mainSearchForm" onsubmit="return false;" action="/search">
            <select id="category_select">
                <option value="">Select a category &raquo;</option>
                {% for c in categories %}
                    <option value="/search?q=&type=products&category={{ c.slug }}">
                        {{ c.name }}
                    </option>
                {% endfor %}
            </select>
            <span id="cat_help" rel="#cat_help_body">?</span>
            <span>or</span>
            <input id="main_search_button" type="image" src="{{ STATIC_URL }}img/search_arrow.png" name="searchButton"  value="" />
            <input id="main_q" name="main_q" type="text" placeholder="Search our database" class="q" />
        </form>
    </div>
    
    <script type="text/javascript">
        $("#category_select").change(function (event) {
            var url = $(this).val();
            window.location = url;
        });
        
        $('#main_search_button').click(function(){
            text = $('#main_q').val().replace(' ', '+');
            window.location = "/search?q=" + text
        });
        
    </script>
    
    
    {% include "renderers/review_list.django.html" with reviews=review_list %}
    {% paginate %}
    
    
    
    
    <!-- category helper div -->
    <div id="cat_help_body" class="overlay box_shadow">
        <div class="overlay_content">
            {% for c in categories %}
                <div>
                    <h2>
                        <a href="/search?q=&type=products&category={{ c.slug }}">{{ c.name }}</a>
                    </h2>
                    <p>{{ c.description|safe }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#cat_help").overlay({
                mask: '#C9D6A6',
                top: 'center',
                left: 'center'
            });
        });
    </script>
    
    
{% endblock %}