{% extends "base.html" %}
{% load range_tag %}

{% block title %}
    Review // {{ review.name }} 
{% endblock %}


{% block meta %}
    <meta property="og:title" content="Reporters&#039; Lab Reviews // Review // {{ review.name|escape }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ review.teaser|escape }}" />
{% endblock %}

{% block main_content %}
        {% comment %} this is a range of all possible ratings values. Used in loops. {% endcomment %}
        {% mkrange 1 6 1 as star_range %}
    
    
        <div id="detail_container" class="review">
            
            <div id="detail_header">
                <h6><a href="{{ review.product.get_absolute_url }}">{{ review.product.name }}</a>
                    {% if review.kicker %} | {{ review.kicker }} {% endif %}
                </h6>
                <h1>
                   {{review.name}}
                </h1>
                <h4>{{ review.subtitle }}</h4>
                <div class="byline_timestamp_container">
                    {% if review.reviewer %}
                        <span class="byline">by: <a href="mailto:{{ review.reviewer.email }}">{{ review.reviewer.first_name }} {{ review.reviewer.last_name }}</a></span>
                        <span class="slashes">//</span>
                    {% endif %}
                    <span class="timestamp">{{ review.update_time|date:"DATETIME_FORMAT" }}</span>
                    <span class="slashes">//</span>
                    <div class="fb-like" data-href="http://reviews.reporterslab.org{{ request.get_full_path }}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>
                </div>
            </div>
            
            
            
            <div id="ratings" class="box_shadow">
                <div>
                    <div class="rating_container">
                        <h4>Overall:</h4>
                        <div>
                            {% for i in star_range %}
                                <img {% if forloop.counter <= review.rating %} src="{{ STATIC_URL }}img/rating_check.png" {% else %} src="{{ STATIC_URL }}img/rating_uncheck.png" {% endif %} />
                            {% endfor %}
                        </div>
                        <p>{{ review.rating_text }}</p>
                    </div>
                    <div class="rating_container">
                        <h4>Documentation:</h4>
                        <div>
                            {% for i in star_range %}
                                <img {% if forloop.counter <= review.documentation %} src="{{ STATIC_URL }}img/rating_check.png" {% else %} src="{{ STATIC_URL }}img/rating_uncheck.png" {% endif %} />
                            {% endfor %}
                        </div>
                        <p>{{ review.documentation_text }}</p>
                    </div>
                    <div class="rating_container">
                        <h4>Usability:</h4>
                        <div>
                            {% for i in star_range %}
                                <img {% if forloop.counter <= review.usability %} src="{{ STATIC_URL }}img/rating_check.png" {% else %} src="{{ STATIC_URL }}img/rating_uncheck.png" {% endif %} />
                            {% endfor %}
                        </div>
                        <p>{{ review.usability_text }}</p>
                    </div>
                    <div class="rating_container">
                        <h4>Community:</h4>
                        <div>
                            {% for i in star_range %}
                                <img {% if forloop.counter <= review.community %} src="{{ STATIC_URL }}img/rating_check.png" {% else %} src="{{ STATIC_URL }}img/rating_uncheck.png" {% endif %} />
                            {% endfor %}
                        </div>
                        <p>{{ review.community_text }}</p>
                    </div>
                    <div class="rating_container">
                        <h4>Performance:</h4>
                        <div>
                            {% for i in star_range %}
                                <img {% if forloop.counter <= review.performance %} src="{{ STATIC_URL }}img/rating_check.png" {% else %} src="{{ STATIC_URL }}img/rating_uncheck.png" {% endif %} />
                            {% endfor %}
                        </div>
                        <p>{{ review.performance_text }}</p>
                    </div>
                    <div class="rating_container">
                        <h4>Programming Ease:</h4>
                        <div>
                            {% for i in star_range %}
                                <img {% if forloop.counter <= review.programming %} src="{{ STATIC_URL }}img/rating_check.png" {% else %} src="{{ STATIC_URL }}img/rating_uncheck.png" {% endif %} />
                            {% endfor %}
                        </div>
                        <p>{{ review.programming_text }}</p>
                    </div>
                </div>
            </div>
            
            
            <div id="review_header_details" class="box_shadow">
                
                    <h6>Product:</h6>
                    <p><a href="{{ review.product.get_absolute_url }}">{{ review.product.name }}</a></p>
                    <span class="slashes">//</span>
                
                    <h6>Company:</h6>
                    <p><a href="{{ review.product.url }}">{{ review.product.company }}</a></p>
                    <span class="slashes">//</span>
                    
                    <h6>Cost:</h6>
                    <p>{% if review.product.cost == 0 %}FREE {% else %}{{ review.product.cost }}{% endif %}</p>
                    
                </div>

            
            
            
            {{review.description|safe}}
                
        </div>
            
            {% include "renderers/tag_cloud.django.html" with object=review %}

            
            
            <div class="black_bar big"><span>&nbsp;</span></div>
                
            <div id="review_details" class="box_shadow">
                
                    <h6>Product:</h6>
                    <p><a href="{{ review.product.get_absolute_url }}">{{ review.product.name }}</a></p>
                    <span class="slashes">//</span>
                
                    <h6>Company:</h6>
                    <p><a href="{{ review.product.url }}">{{ review.product.company }}</a></p>
                    <span class="slashes">//</span>
                    
                {% if review.version_tested %}
                    <h6>Version Tested:</h6>
                    <p>{{ review.version_tested }}</p>
                    <span class="slashes">//</span>
                {% endif %}
                {% if review.product.release_date %}
                    <h6>Release Date:</h6>
                    <p>{{ review.product.release_date }}</a></p>
                    <span class="slashes">//</span>
                {% endif %}
                {% if review.os_used.count > 0 %}  
                    <h6>OS Tested:</h6>
                    <p> {% for os in review.os_used.all %} <a href="{{ os.url }}">{{ os.name }}</a>{% endfor %}</p>
                    <span class="slashes">//</span>
                {% endif %}
                    <h6>Cost:</h6>
                    <p>{% if review.product.cost == 0 %}FREE {% else %}{{ review.product.cost }}{% endif %}</a></p>
                    <span class="slashes">//</span>
                    
                    <h6>Open Sourced:</h6>
                    <p>{% if review.product.open_source %}Yes {% else %}No{% endif %}</a></p>
                    <span class="slashes">//</span>
                    
                    <h6>Demo Available:</h6>
                    <p>{% if review.product.demo_available %}Yes {% else %}No{% endif %}</a></p>
                    <span class="slashes">//</span>
                    
                    <h6>Obsolete:</h6>
                    <p>{% if review.product.obsolete %}Yes {% else %}No{% endif %}</a></p>
            </div>
                
            <div class="black_bar big"><span>&nbsp;</span></div>
            
            <div id="task_performance" class="detail_item_container">
                <h3>How {{ review.product.name }} performed on our tasks</h3>
                
                {% for pt in review.product.producttask_set.all %}
                     <div class="detail_item {% if forloop.last %}last{% endif %}">
                        
                        
                        <div class="rating_container verdict box_shadow">
                            <h4>Verdict:</h4>
                            <div>
                                {% for i in star_range %}
                                    <img {% if forloop.counter <= pt.rating %} src="{{ STATIC_URL }}img/rating_check.png" {% else %} src="{{ STATIC_URL }}img/rating_uncheck.png" {% endif %} />
                                {% endfor %}
                            </div>
                            <p>{{ pt.rating_text }}</p>
                        </div>
                        
                        
                        <h2><a href="{{ pt.get_absolute_url }}">{{ pt.name }}</a></h2>
                        <div class="detail_item_metadata">
                            <div class="task_url">
                                <span>Task:</span>
                                <a href="{{ pt.task.get_absolute_url }}">{{ pt.task.name }}</a>
                            </div>
                            {% if pt.task.document %}
                                <div class="document_url">
                                    <span>Documents:</span>
                                    <a href="{{ pt.task.document.get_absolute_url }}"> {{ pt.task.document.name }}</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="details">{{ pt.teaser|safe }}
                           <a href="{{ pt.get_absolute_url }}" class="more_link">READ OUR FULL REVIEW &raquo;</a>
                        </div>
                        
                     </div>
                     
                {% endfor %}
            </div>
            
        <div id="disqus_thread" class="box_shadow"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'reporterslab'; // required: replace example with your forum shortname
        
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
    
{% endblock %}