{% extends "base.html" %}
{% load pagination_tags %}

{% block head %}
    <link rel="alternate" type="application/rss+xml" title="Latest Items Tagged With '{{ tag.clean_name|capfirst}}' Feed" href="/rss/tag/{{ tag.slug }}" />    
{% endblock %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block main_content %}
    
    
    <div id="detail_container" class="tag">
        <h6>{{ items.count }} items</h6>
        <h2>Items Tagged With: {{ tag.clean_name|capfirst }} </h2>
        <div class="detail_item_container">
            {% autopaginate items 10 %}
            {% for item in items %}
                {% if item.content_object.published %}
                <div class="detail_item {% if forloop.last %}last{% endif %}">
                    <h6>{{ item.content_type|capfirst }}</h6>
                    <h2>
                        <a href="{{ item.content_object.get_absolute_url }}">{{item.content_object.name}}</a>
                    </h2>
                    <div class="byline_timestamp_container">
                        <span class="timestamp">{{ item.content_object.update_time|date:"DATETIME_FORMAT" }}</span>
                    </div>
                    <div class="details">
                        {% if item.content_object.teaser %}
                             {{ item.content_object.teaser|safe }}
                        {% else %}
                             {{ item.content_object.description|safe|truncatewords_html:50 }}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% paginate %}
        </div>
        
        
    </div>
        
        

{% endblock %}