{% extends "base.html" %}

{% block title %}
    {{ tutorial.name }}, a Tutorial for {{ tutorial.product.name }}
{% endblock %}

{% block main_content %}
    
    
        <div id="detail_container" class="tutorial">
            
            <div id="detail_header">
                <h6><a href="{{ tutorial.product.get_absolute_url }}">{{ tutorial.product.name }}</a>
                    {% if tutorial.kicker %} | {{ tutorial.kicker }} {% endif %}
                </h6>
                <h1>
                   {{tutorial.name}}
                </h1>
                <h4>{{ tutorial.subtitle }}</h4>
                <div class="byline_timestamp_container">
                    {% if tutorial.writer %}
                        <span class="byline">By: <a href="mailto:{{ tutorial.writer.email }}">{{ tutorial.writer.first_name }} {{ tutorial.last_name }}</a></span>
                        <span class="slashes">//</span>
                    {% endif %}
                    {% if tutorial.writer_external %}
                        <span class="byline">By: {{ tutorial.writer_external|safe }}</span>
                        <span class="slashes">//</span>
                    {% endif %}
                    <span class="timestamp">{{ tutorial.update_time|date:"DATETIME_FORMAT" }}</span>
                </div>
                
            </div>
            {% if tutorial.url or tutorial.files or tutorial.repo_link or tutorial.tasks.count > 0 %}
                <div id="ratings" class="box_shadow">
                    <div>
                        {% if tutorial.url %}
                            <div class="rating_container">
                                <h4>Original Source:</h4>
                                <p><a href="{{ tutorial.url }}">View Original &raquo;</a></p>
                            </div>
                        {% endif %}
                        {% if tutorial.files %}
                            <div class="rating_container">
                                <h4>Tutorial Files:</h4>
                                <p><a href="{{ MEDIA_URL }}{{ tutorial.files }}">Download the Files Here &raquo; </a></p>
                            </div>
                        {% endif %}
                        {% if tutorial.repo_link %}
                            <div class="rating_container">
                                <h4>Repository:</h4>
                                <p><a href="{{ tutorial.repo_link }}">View the Repository &raquo;</a></p>
                            </div>
                        {% endif %}
                        {% if tutorial.tasks %}
                            <div class="rating_container">
                                <h4>Tutorial Tasks:</h4>
                                <p>   
                                    {% for task in tutorial.tasks.all %}
                                        <a href="{{ task.get_absolute_url }}">{{ task.name }} &raquo;</a><br /> 
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            
            <div id="details">
                {{ tutorial.description|safe }}
            </div>
            
        </div>
        
        
        {% if tutorial.embed %}
            <div id="tutorial_embed" class="box_shadow bottom_box">
                {{ tutorial.embed|safe }}
            </div>
            <div class="black_bar big"><span>&nbsp;</span></div>
        {% endif %}
        {% include "renderers/tag_cloud.django.html" with object=tutorial %}
        <div class="black_bar big"><span>&nbsp;</span></div>
        <div id="review_details" class="box_shadow">
                
            <h6>Product:</h6>
            <p><a href="{{ tutorial.product.get_absolute_url }}">{{ tutorial.product.name }}</a></p>
            <span class="slashes">//</span>
        
            <h6>Company:</h6>
            <p><a href="{{ tutorial.product.url }}">{{ tutorial.product.company }}</a></p>
            <span class="slashes">//</span>
        {% if tutorial.version %} 
            <h6>Version Tested:</h6>
            <p>{{ tutorial.version }}</p>
            <span class="slashes">//</span>
        {% endif %}
        {% if tutorial.product.release_date %}
            <h6>Release Date:</h6>
            <p>{{ tutorial.product.release_date }}</a></p>
            <span class="slashes">//</span>
        {% endif %}
        {% if tutorial.os_used.count > 0 %}
            <h6>OS Tested:</h6>
            <p> {% for os in tutorial.os_used.all %} <a href="{{ os.url }}">{{ os.name }}</a>{% endfor %}</p>
            <span class="slashes">//</span>
        {% endif %}
            <h6>Cost:</h6>
            <p>{% if tutorial.product.cost == 0 %}FREE {% else %}{{ tutorial.product.cost }}{% endif %}</a></p>
            <span class="slashes">//</span>
            
            <h6>Open Sourced:</h6>
            <p>{% if tutorial.product.open_source %}Yes {% else %}No{% endif %}</a></p>
            <span class="slashes">//</span>
            
            <h6>Demo Available:</h6>
            <p>{% if tutorial.product.demo_available %}Yes {% else %}No{% endif %}</a></p>
            <span class="slashes">//</span>
            
            <h6>Obsolete:</h6>
            <p>{% if tutorial.product.obsolete %}Yes {% else %}No{% endif %}</a></p>
    </div>

{% endblock %}