{% for item in objects %}
<div class="review_list_container {% if forloop.last %}last{% endif %}">
            <h2>
                <a href="{{ item.get_absolute_url }}">{{item.name}}</a>
            </h2>
            <div class="byline_timestamp_container">
                <span class="timestamp">{{ item.update_time|date:"DATETIME_FORMAT" }}</span>
            </div>
            <div class="teaser">
                {% if item.teaser %}
                     {{ item.teaser|safe }}
                {% else %}
                     {{ item.description|safe|truncatewords_html:50 }}
                {% endif %}
            </div>
        </div>
{% endfor %}