{% load custom_filters %}
{% load range_tag %}
{% mkrange 1 6 1 as star_range %}

<div id="detail_container">
        
        
{% for item in objects %}
    <div class="detail_item {% if forloop.last %}last{% endif %}">
        
        {% if item|classname:"product" %}
            <div class="rating_container verdict box_shadow">
                <h4>Verdict:</h4>
                <div>
                    {% for i in star_range %}
                        <img {% if forloop.counter <= item.latest_review.rating %} src="{{ STATIC_URL }}img/rating_check.png" {% else %} src="{{ STATIC_URL }}img/rating_uncheck.png" {% endif %} />
                    {% endfor %}
                </div>
                <p>{{ item.latest_review.rating_text }}</p>
                <br />
                <h6>{% if item.cost == 0 %}FREE {% else %}{{ item.cost }}{% endif %}</h6>
                <span class="slashes">//</span>
                <h6><a href="{{item.url}}">Get it</a>
                <span class="slashes">//</span>
                <h6><a href="{{ item.latest_review.get_absolute_url }}">Review</a></h6>
            </div>
        {% endif %}
        
        {% if item|classname:"review" %}
            <div class="rating_container verdict box_shadow">
                <h4>Verdict:</h4>
                <div>
                    {% for i in star_range %}
                        <img {% if forloop.counter <= item.rating %} src="{{ STATIC_URL }}img/rating_check.png" {% else %} src="{{ STATIC_URL }}img/rating_uncheck.png" {% endif %} />
                    {% endfor %}
                </div>
                <p>{{ item.rating_text }}</p>
                <br />
                <h6>{% if item.product.cost == 0 %}FREE {% else %}{{ item.product.cost }}{% endif %}</h6>
                <span class="slashes">//</span>
                <h6><a href="{{item.product.url}}">Get it</a>
                <span class="slashes">//</span>
                <h6><a href="{{ item.product.get_absolute_url }}">Details</a></h6>
            </div>
        {% endif %}
        
        
        
        {% if search %}
            <h6>{{ item.verbose_name }}</h6>        
        {% endif %}
        <h2><a href="{{ item.get_absolute_url }}">{{item.name}}</a></h2>
        <div class="byline_timestamp_container">
            <span class="timestamp">{{ item.update_time|date:"DATETIME_FORMAT" }}</span>
        </div>
        <div class="teaser">
            {% if item.teaser %}
                 {{ item.teaser|safe }}
            {% else %}
                 {{ item.description|safe|truncatewords_html:25 }}
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>