<div id="facets" class="box_shadow">
    <h3>Filter Results</h3>
    <div class="facet">
        {% comment%}
            Category is not quite a facet... So, we'll hardcode the type to product. Hopefully this won't be too confusing to users.
        {% endcomment %}
        <h2>Category</h2>
        <ul>
            <li>
                {% if category == None %}
                    <span class="selected">All</span>
                {% else %}
                    <a href="/search?q={{ q }}{% if date != None %}&date={{ date }}{% endif %}"><span>All</span></a>
                {% endif %}
            </li>
            {% for c in facets.categories %}
                <li>
                    {% if category != c.slug %}
                        <a href="/search?q={{ q }}{% if date != None %}&date={{ date }}{% endif %}&type=products&category={{ c.slug }}">
                    {% endif %}
                    <span  {% if category == c.slug %}class="selected"{% endif %}>{{ c.name }}</span>
                    {% if category != c.slug %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="facet">
        <h2>Date Ranges</h2>
        <ul>
                <li>
                    {% if date == None %}
                        <span class="selected">All</span>
                    {% else %}
                        <a href="/search?q={{ q }}{% if type != None %}&type={{ type }}{% endif %}{% if category != None %}&category={{ category }}{% endif %}"><span>All</span></a>
                    {% endif %}
                </li>
            {% for d in facets.dates %}
                <li>
                    {% if date != d.value %}
                        <a href="/search?q={{ q}}&date={{ d.value }}{% if type != None %}&type={{ type }}{% endif %}{% if category != None %}&category={{ category }}{% endif %}">
                    {% endif %}
                        <span {% if date == d.value %}class="selected"{% endif %}>{{ d.label }}</span>
                    {% if date != d.value %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="facet">
        <h2>Type</h2>
        <ul>
            <li>
                {% if type == None %}
                    <span class="selected">All</span>
                {% else %}
                    <a href="/search?q={{ q }}{% if date != None %}&date={{ date }}{% endif %}"><span>All</span></a>
                {% endif %}
            </li>
            {% for t in facets.types %}
                <li>
                    {% if type != t.value %}
                        <a href="/search?q={{ q }}&type={{ t.value }}{% if date != None %}&date={{ date }}{% endif %}">
                    {% endif %}
                        <span {% if type == t.value %}class="selected"{% endif %}>{{ t.label }}</span>
                    {% if request.GET.type != t.value %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>