{% if not is_index%}
<div>
    <h3>Latest Reviews</h3>
    {% include "renderers/simple_list.django.html" with items=latest_reviews %}
    <a class="more_link" href="/reviews">See more&raquo;</a>
</div>
{% endif %}

<div>
    <h3>Latest Tutorials</h3>
    {% include "renderers/simple_list.django.html" with items=latest_tutorials %}
    <a class="more_link" href="/tutorials">See more&raquo;</a>
</div>

<div>
    <h3>Latest Products</h3>
    {% include "renderers/simple_list.django.html" with items=latest_products %}
    <a class="more_link" href="/products">See more&raquo;</a>
</div>

<div>
    <h3>Latest Challenges</h3>
    {% include "renderers/simple_list.django.html" with items=latest_challenges %}
    <a class="more_link" href="/challenges">See more&raquo;</a>
</div>

<div>
    <h3>Latest Documents</h3>
    {% include "renderers/simple_list.django.html" with items=latest_documents %}
    <a class="more_link" href="/documents">See more&raquo;</a>
</div>