<!-- sidebar big buttons -->
<div id="sidebar-buttons">
<span style="display:none;">this fixes an annoying IE7 bug.</span>
    <a class="big_button" href="http://www.reporterslab.org/review-lab-users-guide/" target="_blank" style="background-image:url(http://media.reporterslab.org/review_lab/site_media/static/img/users-guide.png)"><span>Our Mission</span></a>
    <a class="big_button" href="http://www.reporterslab.org/suggestions/" target="_blank" style="background-image:url(http://media.reporterslab.org/review_lab/site_media/static/img/suggest-product.png)"><span>Latest Reporters' Lab Review</span></a>
</div>
{% if not is_index and latest_reviews.count > 0 %}
<div>
    <h3>Latest Reviews</h3>
    {% include "renderers/simple_list.django.html" with items=latest_reviews %}
    <a class="more_link" href="/search?type=reviews">See more&raquo;</a>
</div>
{% endif %}

{% if latest_tutorials.count > 0 %}
<div>
    <h3>Latest Tutorials</h3>
    {% include "renderers/simple_list.django.html" with items=latest_tutorials %}
    <a class="more_link" href="/search?type=tutorials">See more&raquo;</a>
</div>
{% endif %}

{% if latest_products.count > 0 %}
<div>
    <h3>Latest Products</h3>
    {% include "renderers/simple_list.django.html" with items=latest_products %}
    <a class="more_link" href="/search?type=products">See more&raquo;</a>
</div>
{% endif %}

{% if latest_documents.count > 0 %}
<div>
    <h3>Latest Docs</h3>
    {% include "renderers/simple_list.django.html" with items=latest_documents %}
    <a class="more_link" href="/search?type=documents">See more&raquo;</a>
</div>
{% endif %}