body
{
    
}

a
{
    text-decoration:none;
    color:#94BDCD;
    color:#3366CC;
}

a:hover
{
    background-color:#FFFF78;
}

blockquote
{
    font-size:14px;
    margin:10px 0 10px 40px;
    padding:0 0 0 15px;
    border-left:5px solid #DDDDDD;
}



#header, #footer
{
    background-color:#262626;
    color:#FFFFFF;
}

#footer
{
    margin:15px 0 0 0;
    padding-bottom:20px;
}

#header
{
    padding-top:20px;
}

#header h1
{
    text-align:center;
    margin-bottom:5px;
}

#footer_contact h4
{
    margin-bottom:2px;
}

#footer_contact p
{
    margin-bottom:2px;   
}

#footer_contact a
{
    color:#A1BCBD;    
}



/**
 *Right Rail Styles
 **/

#right_rail
{
    border-left:1px solid #DDDDDD;
    padding-left:5px;
}

#right_rail h3
{
    color:#333333;
    margin:5px 0 5px 5px;
}

#right_rail div
{
    clear:both;
}

#right_rail ul li
{
    list-style:none;
}

#right_rail ul li h5
{
    margin-bottom:0;
}

#right_rail ul li p
{
    color:#333333;
}

#right_rail .more_link
{
    float:right;
}


/**
 *Index view / list
 **/ 


.review_list_container
{
    border-bottom:1px solid #DDDDDD;
    margin:10px 0 0 0;
    padding:10px 0 20px 0;
}

.review_list_container.last
{
    border:none;
    padding:10px 0 5px 0;
}

.review_list_container h2
{
    margin-bottom:2px;
}

.review_list_container h6
{
    font-weight:normal;
    color:#333333;
    margin-bottom:2px;
}

.byline_timestamp_container
{
    color:#666666;
    margin-bottom:8px;
}

.byline_timestamp_contaner span
{
    padding-left:5px;
}



/**
 *Detail Container, basically used on all details pages to wrap the main content.
 */

#detail_container
{
    margin-top:10px;
}

#detail_container h6
{
    margin:10px 0 0 0;
    font-size:10px;
    text-transform:uppercase;
    color:#333333;
}

#detail_container h1
{
    margin:0;
    font-size:20px;
}

#detail_container h4
{
    font-size:12px;
    color:#666;
    font-weight:normal;
    margin:2px 0 2px 0;
}

#detail_container h5
{
    font-weight:normal;
    font-size:12px;
    font-style:italic;
    margin:0 0 5px 0;
}

#detail_container .byline_timestamp_container
{
    font-size:12px;
}

#detail_header
{
    margin-bottom:10px;
    padding:0 0 5px 0;
    border-bottom:1px solid #DDDDDD;
}


/**
 *
 * Review Specific Details
 * 
 **/
.sidebar
{
    float:right;
    background:#EDEDED;
    border-top:1px solid #333333;
    border-bottom:1px solid #333333;
    padding:5px;
    margin:5px 0 10px 10px;
}

#review_details p, #review_details h6
{
    margin:0;
    padding:0;
}

#review_details h6
{
    margin-top:10px;
}


#product_details div.container
{
    float:left;
    clear:both;
}

#ratings, #product_details
{
    float:left;
    clear:both;
    background-color:#E6E6E6;
    margin:auto;
    padding:5px 0 5px 0;
}

.rating_container
{
    background-color:#E6E6E6;
    margin:10px 0 0 0;
    padding:5px 0 5px 0;
    float:left;
    clear:both;
}

.verdict, #product_details h4
{
    text-align:right;
    float:left;
    margin:-1px 10px 0 0;
    font-size:14px;
    font-weight:bold;
    color:#000000;
}

.star-rating-control
{
    display:block;
    margin:0 20px 0 20px;
}


.rating_container.last
{
    border-top:1px solid #FFFFFF;
}


.detail_item_container
{
    float:left; clear:both;
    margin:10px 0 0 0;
}
.detail_item_container h2
{
    border-bottom:1px solid #DDDDDD;
    border-top:1px solid #333333;
    color:#333333;
    margin:10px 0 10px 0;
    padding:10px 0 10px 0;
}

.pt_review
{
    float:left; clear:both;
    padding-bottom:15px;
    margin-bottom:15px;
    border-bottom:1px solid #DDDDDD;
}

.pt_review.last
{
    padding-bottom:5px;
    border-bottom:none;
}

.pt_review h3
{
    font-weight:bold;
    font-size:16px;
    margin:0 0 5px 0;
}

.pt_metadata
{
    font-size:12px;
    margin:5px 0 5px 0;
    font-style:italic;
    clear:both;
    float:left;
}

.pt_metadata span
{
    text-align:right;
}

.pt_review .details
{
    margin:0 0 15px 0;
}



/**
 *Product specific details
 **/























